.normal_notch_wifi_icon {
  border-radius: 24px;
  min-height: 12px;
}

.normal_notch_wifi_indicator {
  border-radius: 24px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
}

.normal_notch_wifi_indicator.connected {
  background-color: rgb(64, 183, 64);
  color: white;
}

.normal_notch_wifi_indicator.disconnected {
  background-color: gray;
  color: white;
}
