@use "./colors.scss" as *;

window.hyprnotch {
  color: transparent;
  background: transparent;
}

.hyprnotch-button-hover-area {
  background: black;
  margin: 0px;
  padding-top: 4px;
  padding-bottom: 10px;
  border: 0px;
  min-width: 300px;
  min-height: 20px;
  border-radius: 0px 0px 12px 12px;
  transition: all 150ms;
}

.hyprnotch-button-hover-area:hover {
  min-width: 900px;
  min-height: 120px;
  transition: all 150ms;
  border-radius: 0px 0px 36px 36px;
}

.normal_notch {
  background-color: black;
  color: white;
}

.expanded_notch {
  background-color: black;
  color: white;
}

.current-time {
  font-size: 16px;
  padding-left: 12px;
  padding-bottom: 6px;
}

.hyprnotch-side-left-container,
.hyprnotch-side-right-container {
  background-color: black;
}

.hyprnotch-side-left,
.hyprnotch-side-right {
  min-width: 30px;
  min-height: 20px;
  background: red;
  transition: min-width 150ms ease-in-out;
}

.hyprnotch-side-left {
  border-top-right-radius: 60%;
}

.hyprnotch-side-right {
  border-top-left-radius: 60%;
}
.hyprnotch-button-hover-area:hover
  + .hyprnotch-side-left-container
  .hyprnotch-side-left,
.hyprnotch-button-hover-area:hover
  + .hyprnotch-side-right-container
  .hyprnotch-side-right {
  min-width: 120px;
}
