@use "./colors.scss" as *;
@use "./notification.scss" as *;

window.hyprnotch {
  color: transparent;
  background: transparent;
}
.hyprnotch-button-area {
  background: transparent;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.hyprnotch {
  background-color: $background;
  color: $on_background;
}

.hyprnotch_transition {
  transition: min-width $expressive_slow_spatial_duration
      $expressive_slow_spatial,
    min-height $expressive_slow_spatial_duration $expressive_slow_spatial,
    border-radius $expressive_slow_spatial_duration $expressive_slow_spatial,
    background-color $expressive_default_effects_duration
      $expressive_default_effects;
}

.notch_container {
}

.normal_notch {
  @extend .hyprnotch;
  @extend .hyprnotch_transition;
  padding-bottom: 8px;
  min-width: 300px;
  min-height: 32px;
  border-radius: 0px 0px 12px 12px;
}

.expanded_notch {
  @extend .hyprnotch;
  @extend .hyprnotch_transition;
  min-width: 900px;
  min-height: 120px;
  border-radius: 0px 0px 36px 36px;
  padding: 4px;
}

.notified_notch {
  @extend .hyprnotch;
  @extend .hyprnotch_transition;
  padding-bottom: 8px;
  min-width: 500px;
  min-height: 45px;
  border-radius: 0px 0px 12px 12px;
}

.current-time {
  font-size: 16px;
  padding-left: 12px;
  padding-bottom: 6px;
}
