@use "./colors.scss" as *;

window.hyprnotch {
  color: transparent;
  background: transparent;
}
.hyprnotch-button-area {
  background: transparent;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.hyprnotch {
  background-color: black;
  color: white;
  transition: all 200ms;
}

.normal_notch {
  @extend .hyprnotch;
  padding-bottom: 8px;
  min-width: 300px;
  min-height: 20px;
  border-radius: 0px 0px 12px 12px;
}

.expanded_notch {
  @extend .hyprnotch;
  min-width: 900px;
  min-height: 120px;
  border-radius: 0px 0px 36px 36px;
}

.current-time {
  font-size: 16px;
  padding-left: 12px;
  padding-bottom: 6px;
}
