.normal_notch_notification {
  background: green;
  margin: 0px;
  padding: 0px;
  border: 0px;
  min-width: 8px;
  min-height: 8px;
}

.normal_notch_notification.has_notifications {
  border-radius: 50%;
  background-color: yellow;
}

.normal_notch_notification.has_notifications.new_notification {
  border-radius: 50%;
  animation: blink-to-yellow 2s 1 forwards;
}

@keyframes blink-to-yellow {
  0% {
    background-color: red;
    opacity: 1;
  }
  12.5% {
    background-color: red;
    opacity: 0.3;
  }
  25% {
    background-color: red;
    opacity: 1;
  }
  37.5% {
    background-color: red;
    opacity: 0.3;
  }
  50% {
    background-color: red;
    opacity: 1;
  }
  62.5% {
    background-color: red;
    opacity: 0.3;
  }
  75% {
    background-color: red;
    opacity: 1;
  }
  87.5% {
    background-color: red;
    opacity: 0.3;
  }
  100% {
    background-color: yellow;
    opacity: 1;
  }
}
