@use "./colors.scss" as *;
@use "./components/material.scss" as *;

.notification_bar {
  @include spatial-size-transition;
  border-radius: 0px;
  min-height: 34px;
  padding: 0px;
  background-color: $surface;
  color: $primary;

  &.new_notification {
  }
}

.new_notification_card_preview {
  icon {
    font-size: 36px;
  }
}

.no_notification {
  color: $on_secondary;
  label {
    font-size: 24px;
  }
}
