    box-shadow: 0 8px 4px alpha(@base00, 0.3), 
                inset 0 4px 12px rgba(255, 255, 255, 0.15);
    border-radius: 8px;

    background: transparent padding-box,
                linear-gradient(to right, alpha(@base00, 0.1), rgba(255, 255, 255, 0.1)) border-box;