@use "./components/material.scss" as *;
.bluetooth_settings_menu_container {
    padding: 10px;
}
.bluetooth_settings_menu {
    border-radius: $m3-shape-corner-large;
    background-color: $secondary_container;
    min-width: 100px;
    min-height: 100px;
    padding: 10px;
}

.bluetooth_device_battery_level {
    min-width: 48px;
    min-height: 48px;
    color: $on_secondary_container;
    circularprogress {
        background-color: $secondary;
        color: $on_secondary_container;
    }
    icon {
        padding: 10px;
        font-size: 36px;
        color: white;
    }
}

.output_devices_scrollable {
    min-width: 300px;
    box-shadow: none;
    border: 0px;
}

.output_device_button {
    border-radius: $m3-shape-corner-large;
    background-color: $primary;
    color: $on_primary;
    padding: 8px;

    &.selected {
        border-radius: $m3-shape-corner-extra-large;
        background-color: $tertiary;
        color: $on_tertiary;
    }
}
