@use "./colors.scss" as *;
@use "./components/material.scss" as *;
@use "sass:color";

$base_item_padding: 4px;
$button_width: 30px;
$focused_width: 40px;

%system-tray-item-base {
  @include default-size-transition;
  padding: 0 $base_item_padding;
  margin: 0 1px;
  font-size: 16px;
  min-height: $button_width;

  &:hover,
  &.active {
    @include fast-size-transition;
    min-width: $focused_width;
  }
}

@mixin tray-item-hover {
  background-color: $secondary;
  color: $on_secondary;
  border-radius: $m3_shape_corner_large;
}

@mixin tray-item-active {
  background-color: $surface;
  color: $primary;
  border-radius: $m3_shape_corner_large $m3_shape_corner_large 0px 0px;
}

.system_tray_item {
  @extend %system-tray-item-base;
  background-color: $primary;
  color: $on_primary;
  border-radius: $m3_shape_corner_small;

  &:hover {
    @include tray-item-hover;
  }

  &.active {
    @include tray-item-active;
  }

  &.first {
    @include default-size-transition;
    border-radius: $m3_shape_corner_large $m3_shape_corner_small $m3_shape_corner_small $m3_shape_corner_large;

    &:hover,
    &.active {
      @include default-size-transition;
      border-radius: $m3_shape_corner_large;
    }
  }

  &.last {
    @include default-size-transition;
    border-radius: $m3_shape_corner_small $m3_shape_corner_large $m3_shape_corner_large $m3_shape_corner_small;

    &:hover,
    &.active {
      @include default-size-transition;
      border-radius: $m3_shape_corner_large;
    }
  }
}

.system_tray {
  @include default-size-transition;
  background-color: $surface;
  border-radius: 0px;
  padding: 2px;
  min-height: 32px;

  &.notch-focused {
    border-radius: 0 0 $m3_shape_corner_large $m3_shape_corner_large;
  }
}
