@use "./colors.scss" as *;
@use "sass:color";

$base_border_radius: 12px;

.system_tray_bar_container {
  background-color: $background;
  border-radius: $base_border_radius;
}

.system_tray_item {
  background-color: $surface_container;
  border-radius: $base_border_radius;
  padding: 4px;
  font-size: 16px;
  transition: all $expressive_default_effects_duration
    $expressive_default_effects;
  color: $primary;

  &:hover {
    background-color: $secondary_container;
    color: $secondary;
    border-radius: 12px;
    min-width: 30px;
  }

  &.active {
    background-color: $secondary_container;
    color: $secondary;
    border-radius: 12px 12px 0px 0px;
    min-width: 30px;
  }
}

.system_tray_bar_notch {
  background-color: transparent;
  border: 0px;
  min-height: 0px;
  padding: 0px;
  margin: 0px;
  transition: all $expressive_default_effects_duration
    $expressive_default_effects;
  border-radius: 0px 0px 0px 12px;
}

.system_tray_bar_notch.focused {
  background-color: $secondary_container;
  min-height: 40px;
  border-radius: 12px;
}

.system_tray_bar_notch.focused.first {
  border-radius: 0px 12px 12px 12px;
}

.system_tray_bar_notch.focused.last {
  border-radius: 12px 0px 12px 12px;
}
