@use "sass:color";
@use "./colors.scss" as *;
@use "./components/border-roundings.scss" as *;

.battery_level_circular_progress {
  icon {
    font-size: 14px;
  }
  &.low-battery {
    color: $error;
    background-color: color.mix($error, $surface, 10%);
  }

  min-height: 16px;
}

.system_details_container {
  padding: 2px;
  background-color: $surface;
}
