@use "./colors.scss" as *;

.workspaces_bar_container {
  background-color: $surface_variant;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15);
}

.workspaces_bar {
  background-color: $surface;
  border-radius: 0px 0px 12px 0px;
}

.workspace_button {
  border-radius: 50%;
  margin: 4px;
  background-color: $surface_variant;
  font-size: 14px;
  padding: 0px 4px;
  color: $on_surface_variant;
  font-family: $font_family;
}

.workspace_button:hover {
  background-color: rgb(200, 200, 200);
}

.workspace_button.focused {
  background-color: $primary;
  color: $on_primary;
}

.focused_client_container {
  background-color: $surface_variant;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15);
}
.focused_client {
  background-color: $surface_variant;
  border-radius: 0px 0px 12px 0px;
  color: $on_surface_variant;
}
