@use "./colors.scss" as *;
@use "sass:color";

.workspaces_bar_container {
  background-color: $background;
  padding: 3px;
}

.workspaces_bar {
  background-color: $primary_container;
  border-radius: 12px;
  transition: $expressive_default_effects;
}

.workspace_button {
  $base-width: 12px;

  border-radius: 12px;
  margin: 4px;
  background-color: $on_primary_container;
  font-size: 14px;
  padding: 0px 4px;
  transition: all $expressive_fast_spatial_duration $expressive_fast_spatial;
  min-width: $base-width;
  min-height: $base-width;

  &:hover {
    background-color: color.scale($tertiary, $alpha: -40%);
    border-radius: 16px;
    min-width: $base-width * 2;
  }

  &.focused {
    background-color: $on_primary_container;
    color: $on_primary;
    min-width: $base-width * 2;
    border-radius: 20px;
    padding: 0px 8px;
  }
}

.workspace_client_icon {
  margin: 0px 2px;
  min-height: 20px;
}

.focused_client_container {
  background-color: $surface_variant;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15);
}
.focused_client {
  background-color: $surface_variant;
  border-radius: 0px 0px 12px 0px;
  color: $on_surface_variant;
}
