@use "./colors.scss" as *;
@use "sass:color";

.workspaces_bar_container {
  background-color: $background;
  padding: 3px;
}

.workspaces_bar {
  background-color: $primary_container;
  border-radius: 12px;
}

.workspace_button {
  $base-width: 12px;

  border-radius: 50%;
  margin: 4px;
  background-color: $primary;
  font-size: 14px;
  padding: 0px 4px;
  border: none;
  outline: none;
  transition: all 0.3s;
  min-width: $base-width;
  min-height: $base-width;

  &:hover {
    background-color: color.scale($primary, $alpha: -40%);
    border-radius: 16px;
    min-width: $base-width * 2;
  }

  &.focused {
    background-color: $primary;
    color: $on_primary;
    min-width: $base-width * 3;
    border-radius: 20px;
  }
}

.focused_client_container {
  background-color: $surface_variant;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15);
}
.focused_client {
  background-color: $surface_variant;
  border-radius: 0px 0px 12px 0px;
  color: $on_surface_variant;
}
