@use "../colors.scss" as *;
@use "./border-roundings.scss" as *;
@use "sass:color";

circularprogress {
  color: $primary;
  background-color: $secondary_container;
  font-size: 6px;
  min-width: 32px;
}
