@use "../style/colors.scss" as *;
@use "../style/components/material.scss" as *;
@use "sass:color";

@use "./workspaces.scss" as *;
@use "./system_tray.scss" as *;
@use "./time.scss" as *;

.hyprnotch-bar {
    padding: 0px;
    margin: 8px;
    margin-bottom: 0px;
}
