@use "sass:color";
@use "./lib/colors.scss" as *;
@use "./lib/material.scss" as *;

@use "./workspaces.scss" as *;
@use "./system_tray.scss" as *;
@use "./time.scss" as *;

.hyprnotch-bar {
    padding: 0px;
    margin: 4px 9px;
    margin-bottom: 0px;
}
