@use "./lib/material.scss" as *;
@use "sass:color";

.system-tray-button-list {
    background-color: color.change($primary_container, $alpha: 0.5);
    border-radius: $m3-shape-corner-full;
    padding: 4px;
}

.system-tray-button {
    @include fast-color-transition;
    @include fast-size-transition;
    border-radius: $m3-shape-corner-full;
    background-color: $primary;
    color: $on_primary;
    font-size: 8px;
    min-width: 30px;
    padding: 0px;

    button {
        padding: 1px;
        &:hover {
            @include fast-color-transition;
            @include fast-size-transition;
            background-color: $tertiary;
            color: $on_tertiary;
        }
    }
}
