@use "sass:color";
@use "./lib/material.scss" as *;

$regular_width: 20px;
$focused_width: 40px;

.workspace-button-list {
    background-color: color.change($primary_container, $alpha: 0.5);
    border-radius: $m3-shape-corner-full;
    padding: 4px;

    &.single {
        background-color: $tertiary;
        padding: 4px;
    }
}

.workspace-button {
    @include fast-size-transition;
    background-color: $primary;
    color: $on_primary;
    border-radius: $m3-shape-corner-full;
    min-width: $regular_width;
    min-height: $regular_width;
    font-size: 12px;
    padding: 0px;

    &:hover {
        @include fast-size-transition;
        background-color: $secondary;
        min-width: $focused_width;
        color: $on_secondary;
    }

    &.focused {
        @include fast-size-transition;
        background-color: $tertiary;
        border-radius: $m3-shape-corner-full;
        color: $on_tertiary;
        min-width: $focused_width;
    }
}
